html, body {
    font-size: 16px;
}
img {
    border: 0;
    vertical-align: top;
    max-width: non;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftSide {
    width: 80%;
    padding: 0 1.5rem 0 1.5rem;
}
.rightSide {
    width: 20%
}
.topBannerSec img {
    width: 100%
}
.blogListSec ul {
    margin: 0;
    position: relative;
    padding: 0 0 0 50%;
}
.blogListSec ul li {
    width: calc(100% - 1.5rem);
    margin: 0 0.875rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.blogListSec ul li:nth-child(1) {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    margin: 0;
}
.blogListSec ul li img {
    width: 100%
}
.addWorkItem img {
    width: 100%
}
.blogListSec ul li:nth-child(3), .blogListSec ul li:nth-child(4) {
    display: flex;
}
.blogListSec ul li:nth-child(3) .blogImg, .blogListSec ul li:nth-child(4) .blogImg {
    width: 6rem;
    order: 1;
}
.blogListSec ul li:nth-child(3) .blogDsec, .blogListSec ul li:nth-child(4) .blogDsec {
    flex: 1;
    padding-right: 1rem;
}
.blogListSec ul li:nth-child(3) p, .blogListSec ul li:nth-child(4) p {
    display: none;
}
.blogListSec ul li:nth-child(2) h2 {
    font-size: 1.25rem;
}
.blogListSec ul li:last-child {
    padding: 0;
    border: 0;
}
.blogImg {
    margin: 0 0 1.25rem 0;
}
.blogDsec {
    font-size: 0.75rem;
}
@media only screen and (max-width: 996px) {
    .page {
        flex-wrap: wrap;
    }
    .leftSide {
        width: 100%;
    }
    .rightSide {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .blogListSec ul {
        padding: 0 0 1rem;
    }
    .blogListSec ul li {
        margin: 0;
        width: 100%;
    }
    .blogListSec ul li:nth-child(1) {
        position: static;
        width: 100%;
    }
}